@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$font: "Raleway", sans-serif;
$primary-color: rgba(255, 255, 255, 1);
$secondary-color:rgba(0, 0, 0, 1);
$orange-color: rgba(255, 67, 67, 1);
$link-hover-color:rgba(186, 187, 197, 1);
$text-color:rgba(108, 114, 121, 1);
$bg-content: rgba(255, 67, 67, 0.8);
$bg-active:rgba(185, 12, 12, 0.8);



@mixin font($size, $line-height, $weight){
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
}

%flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

%btn{
    background-color: rgba(255, 67, 67, 1);
    color:rgba(255, 255, 255, 1);
    text-align:center;
    text-transform: uppercase;
    text-decoration: none;
}

%btn-hover{
    background-color: rgba(231, 20, 20, 1);
    color:rgba(255, 255, 255, 1);
    
}

%btn-active{
    background: rgba(255, 67, 67, 1);
    box-shadow: 4px 4px 30px #FF4343;
}





*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: $font;
}

.container{
    max-width: 1190px;
    padding: 0 20px;
    margin:0 auto;
}

.banner__wrapper{
    background-image: url(../images/bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header{
    padding:19px 0;

    &__container{
        @extend %flex;
    }

    &__logo{
        display: flex;
        align-items: center;
        list-style: none;
        line-height: 0;
        z-index: 100;              
        position: relative;
        
    }

   

    &__nav{

        position: fixed;
        top: 0;
        left: -100%;            
        width: 100%;
        height: 100vh;
        // flex-direction: column;
        padding: 30px 30px 30px;
        transition: left 0.3s ease;
        z-index: 99;
        background: url(../images/bg.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;

       
        
        @media only screen and (min-width:768px){
            
            position: static;
            width: auto;
            height: auto;
            background: none;
            flex-direction: row;
            padding: 0;
            z-index: 1;
            white-space: nowrap;   
            
            display:flex;
            justify-content: space-between;
            align-items: center;
            column-gap:25px;
        }

        @media only screen and (min-width:1024px){
            column-gap:38px;
            
        } 
        
    }

    &__nav.active {
        left: 0;                 
        }

    &__link{
        display:flex;
        flex-direction: column;
        padding: 20px 0;
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        list-style: none;
        color: $primary-color;
        transition: color 0.3s ease;

        @include font(13px, 100%, 700);
        

        @media only screen and (min-width:768px){

            @include font(12px, 14px, 700);
        }

         @media only screen and (min-width:1024px){
           
            @include font(13px, 15px, 700);
        }
        
    }

    &__link:hover{
        color: $link-hover-color;
    }

    &__link:active{
        color: $orange-color;
    }

    &__link:first-child{
        margin-top:40px;

        @media only screen and (min-width:768px){
            margin-top:0;
        }
    }

    .burger {
    display:flex;         
    flex-direction: column;
    gap: 4px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
    // order: -1; 
    

    @media only screen and (min-width:768px){
        
            display:none;
            
        }
    }

    .burger__line {
    display: block;
    width: 25px;
    height: 2px;
    background: $primary-color;
    transition: all 0.3s ease;
    
    } 
    
    .burger.active .burger__line:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .burger.active .burger__line:nth-child(2) {
        opacity: 0;
        
    }

    .burger.active .burger__line:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
        
    }

   @media only screen and (min-width:768px){
        border-bottom: 1px solid rgba(186, 187, 197, 1);
   }
}

.banner{
    padding:50px 0 52px;
    text-align: center;

    @media only screen and (min-width:768px){
        padding:157px 0 126px;
   }

   @media only screen and (min-width:1024px){
        padding:128px 0 120px;
   }


    &__title{
        margin-bottom:40px;
        color:$primary-color;
        text-transform: uppercase;
        
        @include font(36px, 42px, 900);

        @media only screen and (min-width:768px){
            margin-bottom:61px;

            @include font(48px, 56px, 900);
        }

        @media only screen and (min-width:1024px){
            margin-bottom:31px;
            
            @include font(64px, 75px, 900);
        }
    }

    &__text{
        margin-bottom:60px;
        color:$primary-color;
        
        @include font(14px, 16px, 400);

         @media only screen and (min-width:768px){
            margin-bottom:89px;

            @include font(18px, 21px, 400);
        }

        @media only screen and (min-width:1024px){
            margin-bottom:79px;
            
            @include font(24px, 28px, 400);
        }
    }

    &__btn{
        padding:14px 0 16px;
        display:inline-block;
        min-width:279px;

        @extend %btn;
        @include font(24px, 28px, 900);


         @media only screen and (min-width:768px){
            min-width:313px;
        }

        @media only screen and (min-width:1024px){
           min-width:370px;
        }
    }

    &__btn:hover{

        @extend %btn-hover;
    }

    &__btn:active{
        
        @extend %btn-active;

    }

    
}

.benefits{
    padding:40px 0;
    text-align: center;

        @media only screen and (min-width:768px){
            padding:78px 0 80px;

        }

         @media only screen and (min-width:1024px){
           padding:116px 0;
            
        }

    &__container{
        display:grid;
        grid-template-columns: 1fr;
        row-gap:41px;
        


        @media only screen and (min-width:768px){
            grid-template-columns: repeat(3, 1fr);
            gap:49px 20px;

        }

         @media only screen and (min-width:1024px){
           gap:88px 29px;
            
        }
        
    }  
    
    &__item{
        margin: 0 auto;
        
 
    }

    &__image-wrapper{
        max-width: 75px;
        margin: 0 auto 37px;
        

         @media only screen and (min-width:768px){
            max-width: 85px;
            margin: 0 auto 43px;

        }

         @media only screen and (min-width:1024px){
            margin:0 auto 51px;
            max-width: 100px;
        }
    }

    &__image{
        width:100%;
        height:100%;
    }

    &__title{
        margin-bottom:8px;
        color:$secondary-color;
        text-transform: uppercase;

        @include font(18px, 21px, 900);

        @media only screen and (min-width:768px){
            margin-bottom:23px;

        }

         @media only screen and (min-width:1024px){
           margin-bottom:42px;

            @include font(24px, 28px, 900);
        }
    }

    &__text{
        color:$text-color;

        @include font(14px, 16px, 400);

        
        @media only screen and (min-width:1024px){
            
            @include font(18px, 21px, 400);
           
        }
    }

}

.projects{
    
    text-align: center;
    
   
}

 .project{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        

        @media only screen and (min-width:768px){
           grid-template-columns: repeat(4, 1fr);
        }

        //  @media only screen and (min-width:1024px){
        //    grid-template-columns: repeat(4, 1fr);
        // }

       
    
         &__item{
        border:2px solid $primary-color;
        position: relative;
        cursor:pointer;

        }


        &__image{
        width:100%;
        height:100%;
        object-fit:cover;
        
        }

        &__content{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background: $bg-content;

            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 5px;
            opacity: 0;
            

            &:hover{
                opacity:1;
            }

            &:active{
                background: $bg-active;
            }
        }

        &__title{
            color:$primary-color;
            margin-bottom: 7px;
            text-transform: uppercase;

            @include font(18px, 21px, 900);

            @media only screen and (min-width:768px){
            margin-bottom:22px;
            
            }

            @media only screen and (min-width:1024px){
            margin-bottom:36px;

            @include font(24px, 28px, 900);

            }
        }


        &__text{
            color:$primary-color;

            @include font(14px, 16px, 400);

            @media only screen and (min-width:1024px){

            @include font(18px, 21px, 400);

            }
        }

    }

.download{
    padding:53px 0;
    text-align: center;

     @media only screen and (min-width:768px){
        padding:127px 0;
   }

   @media only screen and (min-width:1024px){
        padding:170px 0;
   }

   &__title{
        margin-bottom:12px;
        color:$secondary-color;

        @include font(18px, 21px, 500);

         @media only screen and (min-width:768px){
            margin-bottom:20px;

            @include font(24px, 28px, 500);
        }

        @media only screen and (min-width:1024px){
            margin-bottom:22px;

            @include font(30px, 35px, 500);
        }
        
   }

   &__text{
        margin-bottom:12px;
        color:$secondary-color;
        text-transform: uppercase;

        @include font(13px, 15px, 700);

        @media only screen and (min-width:768px){
            margin-bottom:45px;

            @include font(14px, 16px, 700);
        }

        @media only screen and (min-width:1024px){
            margin-bottom:50px;

            @include font(18px, 21px, 700);
        }
   }


   &__btn{
        display:inline-block;
        min-width: 280px;
        padding:28px 0;
        

        @extend %btn;
        @include font(18px, 21px, 900);


        @media only screen and (min-width:768px){
            min-width:565px;

             @include font(18px, 21px, 900);
        }

        @media only screen and (min-width:1024px){
            min-width:370px;

            @include font(24px, 28px, 900);
        }

   }

   &__btn:hover{
            @extend %btn-hover;
        }

    &__btn:active{
        @extend %btn-active;

    }    

}