@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download__btn, .banner__btn {
  background-color: rgb(255, 67, 67);
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.download__btn:hover, .banner__btn:hover {
  background-color: rgb(231, 20, 20);
  color: rgb(255, 255, 255);
}

.download__btn:active, .banner__btn:active {
  background: rgb(255, 67, 67);
  box-shadow: 4px 4px 30px #FF4343;
}

@keyframes upscale-style {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes translate-style {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -5px);
  }
  100% {
    transform: translate(0, -8px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.banner__wrapper {
  background-image: url(../images/normal-bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 73, 0.8);
}

.header {
  padding: 19px 0;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 38px 0 36px;
    border-bottom: 1px solid rgb(186, 187, 197);
  }
}
.header__logo {
  display: flex;
  align-items: center;
  list-style: none;
  line-height: 0;
  z-index: 100;
  position: relative;
  transition: transform 0.3s ease;
}
.header__logo:hover {
  transform: scale(1.08);
}
.header__nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  padding: 30px 30px 30px;
  transition: left 0.3s ease;
  z-index: 99;
  background: url(../images/normal-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 73, 0.8);
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .header__nav {
    position: static;
    width: auto;
    height: auto;
    background: none;
    flex-direction: row;
    padding: 0;
    z-index: 0;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .header__nav::before {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .header__nav {
    -moz-column-gap: 38px;
         column-gap: 38px;
  }
}
.header__nav.active {
  left: 0;
}
.header__link {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
  position: relative;
  font-size: 13px;
  line-height: 100%;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .header__link {
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
  }
}
@media only screen and (min-width: 1025px) {
  .header__link {
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
  }
}
.header__link:hover {
  color: rgb(186, 187, 197);
}
.header__link:active {
  color: rgb(255, 67, 67);
}
.header__link:first-child {
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .header__link:first-child {
    margin-top: 0;
  }
}
.header .burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}
@media only screen and (min-width: 768px) {
  .header .burger {
    display: none;
  }
}
.header .burger__line {
  display: block;
  width: 25px;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.header .burger.active .burger__line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.header .burger.active .burger__line:nth-child(2) {
  opacity: 0;
}
.header .burger.active .burger__line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.banner {
  padding: 50px 0 52px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .banner {
    padding: 157px 0 126px;
  }
}
@media only screen and (min-width: 1025px) {
  .banner {
    padding: 128px 0 120px;
  }
}
.banner__title {
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
}
@media only screen and (min-width: 768px) {
  .banner__title {
    margin-bottom: 61px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
  }
}
@media only screen and (min-width: 1025px) {
  .banner__title {
    margin-bottom: 31px;
    font-size: 64px;
    line-height: 75px;
    font-weight: 900;
  }
}
.banner__text {
  margin-bottom: 60px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .banner__text {
    margin-bottom: 89px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 1025px) {
  .banner__text {
    margin-bottom: 79px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
  }
}
.banner__btn {
  padding: 14px 0 16px;
  display: inline-block;
  min-width: 279px;
  transition: all 0.3s ease;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
}
@media only screen and (min-width: 768px) {
  .banner__btn {
    min-width: 313px;
  }
}
@media only screen and (min-width: 1025px) {
  .banner__btn {
    min-width: 370px;
  }
}
.benefits {
  padding: 40px 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .benefits {
    padding: 78px 0 80px;
  }
}
@media only screen and (min-width: 1025px) {
  .benefits {
    padding: 116px 0;
  }
}
.benefits__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 41px;
}
@media only screen and (min-width: 768px) {
  .benefits__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 49px 20px;
  }
}
@media only screen and (min-width: 1025px) {
  .benefits__container {
    gap: 88px 29px;
  }
}
.benefits__item {
  margin: 0 auto;
}
.benefits__image-wrapper {
  max-width: 75px;
  margin: 0 auto 37px;
}
@media only screen and (min-width: 768px) {
  .benefits__image-wrapper {
    max-width: 85px;
    margin: 0 auto 43px;
  }
}
@media only screen and (min-width: 1025px) {
  .benefits__image-wrapper {
    margin: 0 auto 51px;
    max-width: 100px;
  }
}
.benefits__image {
  width: 100%;
  height: 100%;
}
.benefits__title {
  margin-bottom: 8px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: 900;
}
@media only screen and (min-width: 768px) {
  .benefits__title {
    margin-bottom: 23px;
  }
}
@media only screen and (min-width: 1025px) {
  .benefits__title {
    margin-bottom: 42px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
  }
}
.benefits__text {
  color: rgb(108, 114, 121);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
@media only screen and (min-width: 1025px) {
  .benefits__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
}

.projects {
  text-align: center;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (min-width: 768px) {
  .project {
    grid-template-columns: repeat(4, 1fr);
  }
}
.project__item {
  border: 2px solid rgb(255, 255, 255);
  position: relative;
  cursor: pointer;
}
.project__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 67, 67, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5px;
  opacity: 0;
  z-index: 2;
  transition: all 0.3s ease;
}
.project__content:hover {
  opacity: 1;
  animation: translate-style 0.7s ease;
}
.project__content:active {
  background: rgba(185, 12, 12, 0.8);
}
.project__title {
  color: rgb(255, 255, 255);
  margin-bottom: 7px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: 900;
}
@media only screen and (min-width: 768px) {
  .project__title {
    margin-bottom: 22px;
  }
}
@media only screen and (min-width: 1025px) {
  .project__title {
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
  }
}
.project__text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
@media only screen and (min-width: 1025px) {
  .project__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
}

.members {
  padding: 49px 0 56px;
}
@media only screen and (min-width: 768px) {
  .members {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 1025px) {
  .members {
    padding: 100px 0;
  }
}
.members__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 56px;
}
@media only screen and (min-width: 768px) {
  .members__container {
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media only screen and (min-width: 1025px) {
  .members__container {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}

.member {
  display: flex;
  flex-direction: column;
}
.member__image-wrapper {
  aspect-ratio: 280/227;
  overflow: hidden;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .member__image-wrapper {
    aspect-ratio: 1/1;
  }
}
@media only screen and (min-width: 1025px) {
  .member__image-wrapper {
    margin-bottom: 30px;
  }
}
.member__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.member__name {
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}
@media only screen and (min-width: 1025px) {
  .member__name {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }
}
.member__position {
  color: rgb(255, 67, 67);
  text-transform: uppercase;
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .member__position {
    margin-bottom: 22px;
  }
}
@media only screen and (min-width: 1025px) {
  .member__position {
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
}
.member__text {
  color: rgb(108, 114, 121);
  margin-bottom: 55px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .member__text {
    margin-bottom: 39px;
  }
}
@media only screen and (min-width: 1025px) {
  .member__text {
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
}
.member__socials {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
  margin-top: auto;
}
.member__link {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid rgb(198, 203, 205);
  transition: border 0.3s ease;
}
.member__link:hover {
  border: 1px solid #FF4343;
  animation: upscale-style 1s ease forwards;
}
.member__link:active path {
  fill: #FF4343;
}
.member__link path {
  transition: fill 0.3s ease;
}

.slider__container {
  background-color: rgb(92, 50, 73);
}
.slider__item {
  display: grid;
  grid-template-rows: 1fr 1.08fr;
  row-gap: 25px;
  align-items: flex-start;
  text-align: center;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .slider__item {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 19px;
         column-gap: 19px;
    grid-template-rows: none;
    align-items: center;
    text-align: left;
  }
}
@media only screen and (min-width: 1025px) {
  .slider__item {
    -moz-column-gap: 31px;
         column-gap: 31px;
  }
}
.slider__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 280/218;
}
.slider__quote {
  font-family: "Cardo", serif;
  font-style: italic;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .slider__quote {
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 1025px) {
  .slider__quote {
    font-size: 36px;
    line-height: 49px;
    font-weight: 400;
  }
}
.slider__position {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}
@media only screen and (min-width: 1025px) {
  .slider__position {
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
  }
}
.slider .swiper-pagination {
  position: static;
  padding-top: 23px;
  background-color: rgb(255, 255, 255);
}
@media only screen and (min-width: 1025px) {
  .slider .swiper-pagination {
    padding-top: 31px;
  }
}
.slider .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: transparent;
  border: 1px solid rgb(126, 93, 111);
  margin: 0 20px !important;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .slider .swiper-pagination-bullet {
    margin: 0 25px !important;
  }
}
@media only screen and (min-width: 1025px) {
  .slider .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
}
.slider .swiper-pagination-bullet-active {
  background: rgb(126, 93, 111);
}

.download {
  padding: 53px 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .download {
    padding: 127px 0;
  }
}
@media only screen and (min-width: 1025px) {
  .download {
    padding: 170px 0;
  }
}
.download__title {
  margin-bottom: 12px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .download__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 1025px) {
  .download__title {
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
  }
}
.download__text {
  margin-bottom: 12px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .download__text {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
  }
}
@media only screen and (min-width: 1025px) {
  .download__text {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
}
.download__btn {
  display: inline-block;
  min-width: 280px;
  padding: 28px 0;
  transition: all 0.3s ease;
  font-size: 18px;
  line-height: 21px;
  font-weight: 900;
}
@media only screen and (min-width: 768px) {
  .download__btn {
    min-width: 565px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
  }
}
@media only screen and (min-width: 1025px) {
  .download__btn {
    min-width: 370px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
  }
}
.footer {
  padding: 34px 0 33px;
  text-align: center;
  background-color: rgb(53, 60, 101);
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 46px 0 43px;
  }
}
@media only screen and (min-width: 1025px) {
  .footer {
    padding: 71px 0 67px;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 59px;
}
@media only screen and (min-width: 768px) {
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media only screen and (min-width: 1025px) {
  .footer__container {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.footer__title {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.footer__title_location {
  margin-bottom: 34px;
}
.footer__title_share {
  margin-bottom: 36px;
}
.footer__title_about {
  margin-bottom: 38px;
}
@media only screen and (min-width: 768px) {
  .footer__title_location {
    margin-bottom: 17px;
  }
  .footer__title_share {
    margin-bottom: 32px;
  }
  .footer__title_about {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 1025px) {
  .footer__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
  .footer__title_location {
    margin-bottom: 29px;
  }
  .footer__title_share {
    margin-bottom: 48px;
  }
  .footer__title_about {
    margin-bottom: 28px;
  }
}
.footer__text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
@media only screen and (min-width: 1025px) {
  .footer__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
}
.footer__socials {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .footer__socials {
    -moz-column-gap: 23px;
         column-gap: 23px;
  }
}
@media only screen and (min-width: 1025px) {
  .footer__socials {
    -moz-column-gap: 27px;
         column-gap: 27px;
  }
}
.footer__link {
  width: 33px;
  height: 33px;
  border: 1px solid rgb(198, 203, 205);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1025px) {
  .footer__link {
    width: 39px;
    height: 39px;
  }
}

.footer-bottom {
  background-color: rgb(44, 49, 84);
  padding: 28px 0;
  text-align: center;
}
.footer-bottom__copyright {
  text-transform: capitalize;
  color: rgb(128, 128, 128);
  margin: 0 auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .footer-bottom__copyright {
    max-width: 314px;
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .footer-bottom__copyright {
    max-width: 370px;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
}
.footer-bottom__highlighted {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
@media only screen and (min-width: 1025px) {
  .footer-bottom__highlighted {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
}/*# sourceMappingURL=style.css.map */